.about {
    background-image: url(../images/about/coffee-donut.png);
    background-repeat: no-repeat;
    background-size: 279px;
    background-position: 50% 0;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/about/coffee-donut@2x.png);
        }

        @media (min-width: 768px) {
            background-position: right 30px;
        }

    &__box {
        @media (min-width: 768px) {
            margin-left: auto;

            width: 388px;
        }
    }

    &__title {
        margin-bottom: 8px;

        font-family: 'Caveat Brush';
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;

        @media (max-width: 767px) {
            padding-top: 303px;

            text-align: center;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.25;

        &:not(:last-child) {
            margin-bottom: revert;
        }
    }

    &__content {
        display: none;
        transition: transform 1250ms linear;
    }

    &__label {
        display: inline-block;
        margin-bottom: 16px;

        font-family: 'Caveat Brush';
        font-size: 18px;
        line-height: 1.27;
        color: var(--acent-color);
        cursor: pointer;

        &:hover, &:focus {
            color: var(--hover-color)
        }
    }
}

#check {
    display: none;
}

#check:checked ~ .about__content {
    display: block;
}

#check:checked ~ .about__label {
    visibility: hidden;
}

#check:checked ~ .about__label:after {
    content: 'Less';
    display: block;
    visibility: visible;
}