.background-header{
    width: 100%;

    @media screen and (min-width:320px) {
        background-image: url(../images/background-top.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        z-index: 20;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/background-top@2x.png);
        }
    }

    @media screen and (min-width:768px) {
        background-image: url(../images/background-top.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        z-index: 20;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/background-top@2x.png);
        }
    }
    @media screen and (min-width:1280px) {
        background-image:url(../images/about/spoon.png),url(../images/background-top.png);
        background-repeat: no-repeat;
        background-size: auto, 100%;
        background-position:0 501px, top;
        z-index: 20;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/about/spoon@2x.png),url(../images/background-top@2x.png);
        }
    }
}



.background-footer{
width: 100%;

@media screen and (min-width:320px) {
    background-image: url(../images/background-bottom.png);
    background-repeat: no-repeat;
    background-size: 100% 1337px;
    background-position: top;
    z-index: 20;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/background-bottom@2x.png);
    }
}

@media screen and (min-width:768px) {
    background-image: url(../images/background-bottom.png);
    background-repeat: no-repeat;
    background-size: 100% 1519px;
    background-position: top;
    z-index: 20;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/background-bottom@2x.png);
    }
}
@media screen and (min-width:1280px) {
    background-image: url(../images/background-bottom.png);
    background-repeat: no-repeat;
    background-size: 100% 1861px;
    background-position: top;
    z-index: 20;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/background-bottom@2x.png);
    }
}

    
}

