/*Contact*/
.contact{
  
   
   &__container{
    max-width: 320PX;
    margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 32px;

    @media screen and (min-width: 768px){
        max-width: 768px;
        padding: 0 32px;
}
@media screen and (min-width: 1280px){
    max-width: 1280px;
    padding: 0 16px;
}
}
   
    &__title{
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 16px;
        @media screen and (min-width: 768px){
            margin-bottom: 20px;
           }

        @media screen and (min-width: 1280px){
            font-size: 36px;
           }
       }
    
    &__text{

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 16px;

        @media screen and (min-width: 1280px){
            font-size: 18px;
            line-height: 1.22;
           }
       }
          
    }
.contact-container{
    text-align: center;
}
.contact-form{

   text-align: center;
 
    &__mail input{
        width: 280px;

        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
       
        background-clip: padding-box;

        border:none;
        border-bottom: 1px solid var(--acent-color);
        outline: none;
       

      
        @media screen and (min-width: 768px){
            width: 336px;
    }
    @media screen and (min-width: 1280px){
        width: 394px;
}
  
    }
  
  
    &__mail input:hover,
    &__mail input:focus{
        border-bottom: 1px solid var(--hover-color);
        cursor: pointer;
        color: var(--hover-color);
        
    }

    

    &__mail input::placeholder{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: rgba(171, 129, 108, 0.5);

    }
    &__mail input:not(:placeholder-shown):required:invalid {
        border-color: red;
        background-color: rgb(251, 216, 216);
      }

}
.contact-mail{
    margin-bottom: 20px;

    @media screen and (min-width: 768px){
       margin-bottom: 16px;
}
}
.contact-question{
    margin-bottom: 32px;
}

.contact-form__button{
    text-align: center;
}

.contact-button{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.27;
    text-align: center;
    color: var(--btn-text-color);

    width: 145px;
    height: 40px;

    cursor: pointer;

    background-color: var(--acent-color);
    border-radius: 25px;
    border: 1px solid var(--acent-color);
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1280px){
        width: 182px;
        height: 45px;

        font-size: 24px;
        line-height: 1.25;
}
} 
.contact-button:hover{
    background-color: var(--hover-color);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
}