.contact{
    background-color: #E5E5E5;
    min-width: 320PX;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
    &__title{
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
    }
    &__text{
       
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
    }        
}