.contact{
    background-color: #FFFFFF;
   
   &__container{
    max-width: 320PX;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
   
    &__title{
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 16px;
    }
    &__text{

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 16px;
    }        
}
.contact-container{
    text-align: center;
}
.contact-form{

   
 
    &__mail input{
        width: 280px;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1px solid var(--acent-color);
 

        
  
    }
    &__mail input:hover,
    &__mail input:focus{
        border-bottom: 1px solid var(--hover-color);
        cursor: pointer;
        color: var(--hover-color);
    }
    &__mail input::placeholder{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: rgba(171, 129, 108, 0.5);
     
    }

}
.contact-mail{
    margin-bottom: 20px;
}
.contact-question{
    margin-bottom: 32px;
}

.contact-form__button{
    text-align: center;
}

.contact-button{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.27;
    text-align: center;
    color: #FFFFFF;

    width: 145px;
    height: 40px;

    cursor: pointer;

    background-color: var(--acent-color);
    border-radius: 25px;
    border: 1px solid var(--acent-color);
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.contact-button:hover{
    background-color: var( --hover-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}