footer {
    position: relative;
}
.social-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}
.social-btns__button {
    &:not(:last-child) {
    margin-right: 16px;
    }
    fill: var(--text-color);
    margin-bottom: 32px;
        @media screen and (min-width:1280px) {
            margin-bottom: 80px;
        }
}
.footer-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
}
.footer-contacts__list {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width:768px) {
        justify-content: start;
    }
}
.footer-contacts__item {
    fill: var(--text-color);
    margin-bottom: 20px;
}
@media screen and (min-width:768px) {
    .footer-contacts__item {
        &:nth-child(1){
            margin-right: 426px;
        }
    }
}
@media screen and (min-width:1280px) {
    .footer-contacts__item {
        &:nth-child(1) {
            margin-right: 620px;
            margin-left: 128px;
        }
    }
}
.footer-img {
    position: absolute;
    width: 113px;
    bottom: 0;
    right: -30;
    z-index: -1;
    @media screen and (min-width:768px) {
            width: 207px;
        }
    @media screen and (min-width:1280px) {
        width: 332px;
        bottom: -20;
    }
}