.header{
    background-image: url(..//images/header/pic-donuts-mobile.png);
    background-repeat: no-repeat;
    background-position: -12px -51px;
    background-size: initial;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(..//images/header/pic-donuts-mobile@2x.png);
        }

    
    @media screen and (min-width:768px){
        background-image: url(..//images/header/pic-donuts-tablet.png);
        background-position: 288px -35px;
        background-size: initial; 
        padding-bottom: 28px;
        
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(..//images/header/pic-donuts-tablet@2x.png);
         }

    @media screen and (min-width:1280px){
            background-image: url(..//images/header/pic-donuts.png);
            background-position: 564px -170px;
            background-size: initial;

            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 80px;
        }
    
    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(..//images/header/pic-donuts@2x.png);
             }
             
             @media screen and (min-width:1300px){
                background-image: url(..//images/header/pic-donuts.png);
                background-position: 500px -170px;
                background-size: initial;
    
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 80px;
            }
        
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(..//images/header/pic-donuts@2x.png);
                 }
         
}
// Logo

.logo{
    display: flex;
    justify-content: center;

    @media screen and (min-width:768px){
        justify-content: left;
        max-width: 96px;
    }

    @media screen and (min-width:1280px){
        max-width: 158px;
    }

    .logo__icon{
        fill:var(--text-color);
        width: 96px;
        height: 44px; 
        
        @media screen and (min-width:768px){
            position: relative;
            width: 96px;
            height: 48px;         
          }
    
          @media screen and (min-width:1280px){
            width: 158px;
            height: 80px;
          }

          &:hover{
              padding: 2px 5px;
              transition: 250ms var(--cubic);
          }
    }
}

// Navigation

.navigation{
    padding-top: 8px ;
    padding-bottom: 31px ;

    @media screen and (min-width:768px){
        padding-top: 36px;
        padding-bottom: 16px;
               
      }

    @media screen and (min-width:1280px){
        display: flex;
        padding-top: 38px;
        padding-bottom: 42px;
    }
}

.nav{
    position: relative;
    @media screen and (min-width:1280px){
    display: flex;
    align-items: center;}
    margin-left: 162px;

    .nav__link{
        color: var(--text-color);
        cursor: pointer;
        font-size: 18px;
        line-height: 1.22;
        
        @media screen and (max-width:1279px){
            display: none;
        }   
    }

    .nav__item:not(:last-child){
        margin-bottom: 32px;
    
        @media screen and (min-width:1280px) {
          margin-bottom: 0;
          margin-right: 20px;
        }
    }
   
    .nav__link:hover,
    .nav__link:focus {
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid transparent;

    color: var(--hover-color);
    border-color: var(--actived-color);

    box-shadow: var(--btn-box-shadow);

    transition: color 250ms var(--cubic),
                border-color 250ms var(--cubic),
                border 250ms var(--cubic),
                padding 250ms var(--cubic),
                box-shadow 250ms var(--cubic);

    }

}

// Hero

.hero__title{
    width: 100%;
    margin-bottom: 8px;

    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    align-items: center;
    text-align: center;
    color: var(--text-color);

    @media screen and (min-width:768px){
        display: block;
        position: relative;
        width: 224px;
        height: 76px;
        text-align: left;
        margin-bottom:8px ;

    }

    @media screen and (min-width:1280px){
        display: block;
        position: relative;
        width: 490px;
        height: 130px;
        font-size: 64px;
        line-height: 1.02;
        text-align: left;
        margin-bottom: 16px;
    }


}
.hero__subtitle{
    margin-bottom: 32px; ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;

    @media screen and (min-width:768px){
        position: relative;
        width: 169px;
        height: 20px;
        text-align: left;
        margin-bottom: 20px;
    }    

    @media screen and (min-width:1280px){
        width: 254px;
        height: 29px;
        font-size: 24px;
        line-height: 1.21;
        margin-bottom: 32px;
    }
}

.hero__button{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    align-items: center;

    width: 145px;
    height: 40px;

    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1.28;
    text-align: center;
    color: var(--btn-text-color);


    border-radius: 25px;
    background-color: var(--acent-color) ;
    cursor: pointer;
    border: none;
    padding: 8px 47px;
    margin-bottom: 40px;

    &:hover,
    &:focus{
        background-color: var(--hover-color);
        box-shadow: var(--btn-box-shadow);

        transition:  color 250ms var(--cubic),
                     background-color 250ms var(--cubic),
                     box-shadow 250ms var(--cubic) ;
    
    &:active{
        background-color: var(--actived-color);

        transition: background-color 250ms  var(--cubic);
    }    
    }
    @media screen and (min-width:768px){
        position: relative;
        left: 72px;
        margin-bottom: 20px;
    }

    @media screen and (min-width:1280px){
        width: 158px;
        height: 45px;
        text-align: center;
        margin-bottom: 32px;
        padding: 8px 44px;
        font-size: 24px;
        line-height: 1.25;
    }

}

// Hero social
.hero-soc {
    display: flex;
}

.hero-soc__list{
    display: flex;
    margin-bottom: 5.34px;
    cursor: pointer;
    flex-wrap: nowrap;
    justify-content: center;

    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        margin-bottom: 20px;
        justify-content: left;

    }

    .hero-soc__item:not(:last-child) {
        margin-right: 16px;
    }
    .hero-soc__link{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    &:hover,
    &:focus {
        background-color: var(--hover-color);
           fill: var(--btn-text-color);
            
        box-shadow: var(--btn-box-shadow);  
        transition: fill 250ms  var(--cubic),
                    background-color 250ms  var(--cubic),
                    box-shadow 250ms  var(--cubic) ; 
        }
    } 
}

