.registration {
  padding-bottom: 32px;

  @media screen and (min-width:768px) {
    position: relative;
    padding: 78px 0;
    margin: 0 auto;
    max-width: 768px;

    background-image: url(../images/registration/registration-donut.png), url(../images/registration/confetti.png);
    background-repeat: no-repeat;
    background-size: 255px, 345px;
    background-position: -4% -18%, 490px 115px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          background-image: url(../images/registration/registration-donut@2x.png), url(../images/registration/confetti@2x.png);
      }
  }


}

.registration__border {
  text-align: center;
  align-items: center;
  padding: 32px 8px;
  margin: 0 auto;
  max-width: 280px;
  max-height: 466px;
  background: var(--bg-color-form);
  border-radius: 150px 150px 0 0;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);

  @media screen and (min-width:768px) {
    max-width: 704px;
    max-height: 260px;
    border-radius: 150px;
    padding: 40px 60px 66px 60px;
  }
}

.registration__wrap {
  max-width: 100%;

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.registration__title {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    line-height: 2.71;
  }
}

.registration__date {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 20px;
}

.registration__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 28px;
}

.registration__cta {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  max-width: 264px;
  margin-bottom: 20px;

  &::after {
    content: '';
    border-bottom: 1px solid rgba(171, 129, 108, 0.5);
    position: absolute;
    top: -8px;
    left: 0;
    max-width: 264px;

    @media screen and (min-width: 768px) {
      width: 180px;
      transform: rotate(90deg);
      top: 150px;
        left: -110px;
    }
  }
}

.registration__info {
  @media screen and (min-width: 768px) {
    text-align: end;
  }
}

.personal-info {
  @media screen and (min-width: 768px) {
    max-width: 237px;
    text-align: left;
  }
}

.form__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 32px;
  }
}

.form__input {
  width: 100%;
  background-color: var(--bg-color-form);
  border: 0 solid var(--bg-color-form);
  border-bottom: 1px solid var(--acent-color);

  &:hover {
    outline-style: none;
    box-shadow: none;
    border: 0 solid var(--bg-color-form);
    border-bottom: 1px solid var(--acent-color);
  }

  &:focus {
    outline-style: none;
    box-shadow: none;
    border: 0 solid var(--bg-color-form);
    border-bottom: 1px solid var(--acent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(171, 129, 108, 0.5);
  }

  &:not(:placeholder-shown):required:invalid {
    border-color: red;
    background-color: rgb(251, 216, 216);
  }

}

.form__button {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.28;
  color: var(--btn-text-color);
  width: 145px;
  height: 40px;
  border: 1px solid var(--acent-color);
  border-radius: 25px;
  background-color: var(--acent-color);
  cursor: pointer;
  transition: background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--hover-color);
    box-shadow: 0 10px 12px 0 rgba(122, 121, 121, 0.201), 0 17px 50px 0 rgba(140, 135, 135, 0.19);
  }

}