@media screen and (min-width: 768px) {
    .reviews__list {
        display: flex;
    }
}
.reviews__wrapper {
    text-align: center;
    // padding-top: 20px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        max-width: 626px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 68px;
    }
}
.reviews__title {
    font-family: 'Caveat Brush';
    // font-size: 24px;
    // line-height: 1.2;
    text-align: center;

    color: rgb(0, 0, 0);

    @media screen and (min-width: 1280px) {
        margin-bottom: 5px;
    }
}
.title {
    @media screen and (max-width: 1279px) {
        font-size: 24px;
        line-height: 2.7;
    }

    @media screen and (min-width: 1280px) {
        font-size: 36px;
        line-height: 1.8;
    }
    font-family: 'Caveat Brush';
}
.reviews__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    width: fit-content;
    border-radius: 50%;

    &:hover,
        &:focus {
            cursor: pointer;
            box-shadow: 0px 2px 2px rgb(255, 255, 255), 0px 8px 8px rgb(0, 0, 0);
        }
}
.rate__icon {
    margin-bottom: 9px;
    fill: rgb(0, 0, 0);
    .bounceIn {
            animation-duration: 3s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
        }
}
.reviews__name {
    margin-bottom: 9px;

    font-style: italic;
    font-weight: 500;
    font-size: 14px;

    @media screen and (min-width: 768px) {
        margin-bottom: 25px;
    }
}
.reviews__description {
    margin-bottom: 30px;
}


// =====================СЛАЙДЕР====================
/* Обмежувальна оболонка */
.slick-list {
    overflow: hidden;
}
/* Стрічка слайдів */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {
    .reviews__img {
        @media screen and (min-width: 768px) {
            width: 110px;
        }

        @media screen and (min-width: 1280px) {
            width: 136px;
        }
    }
}
/* Слайд основний */
.slick-slide.slick-current {
    @media screen and (min-width: 768px) {
        transform: translateY(24px);
        transition: transform 500ms linear, width 500ms linear;
    }

    .reviews__img {
        @media screen and (min-width: 768px) {
            width: 186px;
        }
    }
        .bounceIn {
            animation-duration: 3s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
        }
}
/* Стрілка */
.slick-arrow {
    position: absolute;
    top: 15%;
    z-index: 10;
    left: 100px;
    font-family: Caveat Brush;
    font-size: 15px;
    line-height: 1.2;
    padding-top: 19px;
    padding-bottom: 21px;
    color: var(--acent-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Стрілка вліво */
.slick-arrow.slick-prev {
    left: 0;

    @media screen and (min-width: 1280px) {
        transform: translateX(-50%);
    }
}

/* Стрілка вправо */
.slick-arrow.slick-next {
    left: 100%;
    transform: translateX(-100%);

    @media screen and (min-width: 1280px) {
        transform: translateX(-50%);
    }
}
.slider {
    position: relative;
    margin-top: 40px;
}

// =========textslide=======
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slick-dots::before,
.slick-dots::after {
    display: inline-block;
    content: '';
    width: 35px;
    height: 1px;
    background-color: var(--acent-color);
}

.slick-dots::before {
    margin-right: 12px;
}

.slick-dots::after {
    margin-left: 12px;
}

.slick-dots li {
    display: none;
}

.slick-dots .slick-active {
    display: block;
}

.slick-dots-button {
    border: none;
    background-color: transparent;
    padding: 0;
}
.slick-dots-current,
.slick-dots-total,
.slick-dots-separator {
    padding-top: 30px;
    font-size: 14px;
    color: var(--acent-color);
}
.flipInX {
    animation-duration: 250ms;
    animation-delay: 3s;
}