:root {
  --text-color: #2e2520;
  --background-color: #fef3e4;
  --btn-bg-color: #ab816c;
  --primary-font: 'Montserrat';
  --secondary-font: 'Caveat Brush';
}

body {
  margin: 0;
  font-family: var(--primary-font), sans-serif;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.2;
}
