<header>
    <nav>
        <a href="./index.html">
            <svg>
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <ul>
            <li><a href=""></a>About us</li>
            <li><a href=""></a>Program</li>
            <li><a href=""></a>Reviews</li>
            <li><a href=""></a>Contacts</li>
        </ul>
    </nav>

    <section>
        <h1>Donut Masterclass with the Donut King</h1>
        <h2>Hosted by Eva Green</h2>
        <button>Register</button>
        <ul>
            <li>
                <svg width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
            </li>
            <li>
                <svg width="16" height="16">
                    <use href="./images/icons.svg#icon-Instagram"></use>
                </svg>
            </li>
            <li>
                <svg width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
            </li>
        </ul>
    </section>
</header>


