<header class="header">
        <div class="container">
            <nav class="navigation">
                <a class="logo" href="./index.html">
                    <svg class="logo__icon">
                        <use href="./images/icons.svg#icon-logo-2"></use>
                    </svg>
                </a>
                
                <ul class="nav">
                    <li class="nav__item">
                        <a class="nav__link" href="#about">
                            About us
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#program">
                            Program
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#reviews">
                            Reviews
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#contact">
                            Contacts       
                        </a>
                    </li>
                </ul>
            </nav>
        
            <section class="hero">
                <h1 class="hero__title">Donut Masterclass <br> with the Donut King</h1>
                <p class="hero__subtitle">Hosted by Eva Green</p>
                <a  href="#registration" class="hero__button">Register</a>
        
                <div class="hero-soc">
                    <ul class="hero-soc__list">
                        <li class="hero-soc__item">
                           <a class="hero-soc__link" href="https://twitter.com">
                            <svg class="hero-soc__icon" width="16" height="16">
                                <use href="./images/icons.svg#icon-twitter"></use>
                            </svg>
                           </a>
                        </li>
                        <li class="hero-soc__item">
                            <a class="hero-soc__link" href="https://www.instagram.com">
                                <svg class="hero-soc__icon" width="16" height="16">
                                    <use href="./images/icons.svg#icon-Instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="hero-soc__item">
                            <a class="hero-soc__link" href="https://www.facebook.com">
                                <svg class="hero-soc__icon" width="16" height="16">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
           </div>
 </header>