<!-- Menu mobile -->
<input class="hamburger-checkbox" type="checkbox" name="mobile-menu" id="mobile-menu" data-menu-button />
<div class="hamburger-lines">
    <span class="line line1"></span>
    <span class="line line2"></span>
    <span class="line line3"></span>
</div>
<!-- Mobile-menu modal -->
<div class="menu__mobile" id="mobile-menu" data-menu>
    <a href="./index.html" class="menu__link">
        <!-- <img src="./images/icons.svg#icon-logo" class="menu__logo" alt="Company Logo"> -->
        <svg>
            <use class="menu__logo" href="./images/icons.svg#icon-logo-2"></use>
        </svg>
    </a>
    <nav class="mobile-menu__nav">
        <ul class="mobile-menu__nav-list">
            <li class="mobile-menu__nav-item">
                <a href="#about" class="mobile-menu__nav-link mobile-menu__nav-link--active">About us</a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="#program" class="mobile-menu__nav-link">Program</a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="#reviews" class="mobile-menu__nav-link">Reviews</a>
            </li>
            <li class="mobile-menu__nav-item">
                <a href="#contact" class="mobile-menu__nav-link">Contacts</a>
            </li>
        </ul>
    </nav>
</div>