<!-- Program -->
<section class="program exp" id="program">
    
    <div class="program__container">
      
        <div class="program__flex">
         <input class="program__checkbox" type="checkbox" id="program__ponchik">     
        <h2 class="program__page">Program</h2>
        <p class="program__subtitle">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
        <ul class="program__list">
            <li class="program__item"> A stand up history of donuts</li>
            <li class="program__item"> Make 3 donut flavors of your choice</li>
            <li class="program__item"> Enjoy all-you-can-eat donuts</li>
            <li class="program__item"> Cocktail pairings and coffee included</li>
            <li class="program__item"> Photoshoot by professional photographer</li>
            <li class="program__item"> Secret receipt of cooking from Eva</li>
            <li class="program__item"> All products are included in the price</li>
        </ul>
        <div class="program__content">
            <p>Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional in donuts cooking! </p>

        </div>
        
        <label class="program__lable" for="program__ponchik"> Read More</label>
        </div>
        <ul class="program__items">
            <li class="program__tumb ">
                <h3 class="program__title">Type of the event</h3>
                <p class="program__text">Cooking classes</p>
                <svg class="program__icon-chef" width="19" height="17.91">
                    <use  href="./images/icons.svg#icon-chef-hat"></use></svg>
                    <img class="program__img" src="./images/program/program-donut-1.png" alt="" width="76" height="80"></li>
            <li class="program__tumb ">
                <h3 class="program__title">Number of guests</h3>
                <p class="program__text">1 to 20</p>
                <svg class="program__icon-people" width="19" height="17.91"><use  href="./images/icons.svg#icon-people"></use></svg>
                <img class="program__img" src="./images/program/program-donut-2.png" alt="" width="76" height="80">
            </li>
            <li class="program__tumb ">
                <h3 class="program__title">Time of the event</h3>
                <p class="program__text">18:30 (2.5 hours)</p>
                <svg class="program__icon-clock" width="19" height="17.91"><use  href="./images/icons.svg#icon-clock"></use></svg>
                <img class="program__img" src="./images/program/program-donut-3.png" alt="" width="76">
            </li>
            <li class="program__tumb ">
                <h3 class="program__title">The host speaks</h3>
                <p class="program__text">English, French</p>
                <svg class="program__icon-chat" width="19" height="17.91"><use  href="./images/icons.svg#icon-chat"></use></svg>
                <img class="program__img" src="./images/program/program-donut-4.png" alt="" width="76">
            </li>

        </ul>
    </div>



</section>