<!-- Program -->
<section class="program container" id="program">
    
    <div class="program__container">
      
        <div class="program__flex">
         <input class="program__checkbox" type="checkbox" id="program__ponchik">     
        <h2 class="program__page">Program</h2>
        <p class="program__subtitle">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
        <ul class="program__list">
            <li class="program__item"> A stand up history of donuts</li>
            <li class="program__item"> Make 3 donut flavors of your choice</li>
            <li class="program__item"> Enjoy all-you-can-eat donuts</li>
            <li class="program__item"> Cocktail pairings and coffee included</li>
            <li class="program__item"> Photoshoot by professional photographer</li>
            <li class="program__item"> Secret receipt of cooking from Eva</li>
            <li class="program__item"> All products are included in the price</li>
        </ul>
        <div class="program__content">
            <p>Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional in donuts cooking! </p>

        </div>
        
        <label class="program__lable" for="program__ponchik"> Read More</label>
        </div>
        <ul class="program__items">
            <li class="program__tumb ">
                <h3 class="program__title">Type of the event</h3>
                <p class="program__text">Cooking classes</p>
                <svg class="program__icon-chef" width="19" height="17.91">
                    <use  href="./images/icons.svg#icon-chef-hat"></use></svg>
                    <picture class="program__img">
                        <source
                          srcset="
                          ./images/program/donut-one/desktop.webp    1x,
                          ./images/program/donut-one/desktop@2x.webp 2x
                          "
                          media="(min-width: 1280px)"
                          type="image/webp"
                        />
                        <source
                          srcset="
                            ./images/program/donut-one/desktop.png    1x,
                            ./images/program/donut-one/desktop@2x.png  2x
                          "
                          media="(min-width: 1280px)"
                        />
            
                        <source
                          srcset="
                          ./images/program/donut-one/tablet.webp    1x,
                            ./images/program/donut-one/tablet@2x.webp 2x
                          "
                          media="(min-width: 768px)"
                          type="image/webp"
                        />
                        <source
                          srcset="
                          ./images/program/donut-one/tablet.png 1x,
                          ./images/program/donut-one/tablet@2x.png 2x
                          "
                          media="(min-width: 768px)"
                        />
            
                        <source
                          srcset="
                          ./images/program/donut-one/mob.webp   1x,
                          ./images/program/donut-one/mob@2x.webp 2x
                          "
                          media="(min-width: 320px)"
                          type="image/webp"
                        />
                        <source
                          srcset="
                            ./images/program/donut-one/mob.png    1x,
                            ./images/program/donut-one/mob@2x.png 2x
                          "
                          media="(min-width: 320px)"
                        />
                        <img
                          class="program__img-one"
                          src="./images/program/donut-one/mob.png"
                          alt="donut"
                        />
                      </picture>
                    <!-- <img class="program__img" src="./images/program/donut-one/destop.webp" alt="" width="76" height="80"></li> -->
            <li class="program__tumb ">
                <h3 class="program__title">Number of guests</h3>
                <p class="program__text">1 to 20</p>
                <svg class="program__icon-people" width="19" height="17.91"><use  href="./images/icons.svg#icon-people"></use></svg>
                <picture class="program__img">
                    <source
                      srcset="
                      ./images/program/donut-two/desktop.webp    1x,
                      ./images/program/donut-two/desktop@2x.webp 2x
                      "
                      media="(min-width: 1280px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/program/donut-two/desktop.png    1x,
                        ./images/program/donut-two/desktop@2x.png  2x
                      "
                      media="(min-width: 1280px)"
                    />
        
                    <source
                      srcset="
                      ./images/program/donut-two/tablet.webp    1x,
                        ./images/program/donut-two/tablet@2x.webp 2x
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                      ./images/program/donut-two/tablet.png 1x,
                      ./images/program/donut-two/tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
        
                    <source
                      srcset="
                      ./images/program/donut-two/mob.webp   1x,
                      ./images/program/donut-two/mob@2x.webp 2x
                      "
                      media="(min-width: 320px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/program/donut-two/mob.png    1x,
                        ./images/program/donut-two/mob@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      class="program__img-two"
                      src="./images/program/donut-two/mob.png"
                      alt="donut"
                    />
                  </picture>
                <!-- <img class="program__img" src="./images/program/program-donut-2.png" alt="" width="76" height="80"> -->
            </li>
            <li class="program__tumb ">
                <h3 class="program__title">Time of the event</h3>
                <p class="program__text">18:30 (2.5 hours)</p>
                <svg class="program__icon-clock" width="19" height="17.91"><use  href="./images/icons.svg#icon-clock"></use></svg>
                <picture class="program__img">
                    <source
                      srcset="
                      ./images/program/donut-three/desktop.webp    1x,
                      ./images/program/donut-three/desktop@2x.webp 2x
                      "
                      media="(min-width: 1280px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/program/donut-three/desktop.png    1x,
                        ./images/program/donut-three/desktop@2x.png  2x
                      "
                      media="(min-width: 1280px)"
                    />
        
                    <source
                      srcset="
                      ./images/program/donut-three/tablet.webp    1x,
                        ./images/program/donut-three/tablet@2x.webp 2x
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                      ./images/program/donut-three/tablet.png 1x,
                      ./images/program/donut-three/tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
        
                    <source
                      srcset="
                      ./images/program/donut-three/mob.webp   1x,
                      ./images/program/donut-three/mob@2x.webp 2x
                      "
                      media="(min-width: 320px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/program/donut-three/mob.png    1x,
                        ./images/program/donut-three/mob@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      class="program__img-three"
                      src="./images/program/donut-three/mob.png"
                      alt="donut"
                    />
                  </picture>
                <!-- <img class="program__img" src="./images/program/program-donut-3.png" alt="" width="76"> -->
            </li>
            <li class="program__tumb ">
                <h3 class="program__title">The host speaks</h3>
                <p class="program__text">English, French</p>
                <svg class="program__icon-chat" width="19" height="17.91"><use  href="./images/icons.svg#icon-chat"></use></svg>
                <picture class="program__img">
                    <source
                      srcset="
                      ./images/program/donut-four/desktop.webp    1x,
                      ./images/program/donut-four/desktop@2x.webp 2x
                      "
                      media="(min-width: 1280px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/program/donut-four/desktop.png    1x,
                        ./images/program/donut-four/desktop@2x.png  2x
                      "
                      media="(min-width: 1280px)"
                    />
        
                    <source
                      srcset="
                      ./images/program/donut-four/tablet.webp    1x,
                        ./images/program/donut-four/tablet@2x.webp 2x
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                      ./images/program/donut-four/tablet.png 1x,
                      ./images/program/donut-four/tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
        
                    <source
                      srcset="
                      ./images/program/donut-four/mob.webp   1x,
                      ./images/program/donut-four/mob@2x.webp 2x
                      "
                      media="(min-width: 320px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/program/donut-four/mob.png    1x,
                        ./images/program/donut-four/mob@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      class="program__img-four"
                      src="./images/program/donut-four/mob.png"
                      alt="donut"
                    />
                  </picture>
                <!-- <img class="program__img" src="./images/program/program-donut-4.png" alt="" width="76"> -->
            </li>

        </ul>
    </div>



</section>