<section>
  <h2>Registration</h2>
  <p>May 23, 11:00 New York</p>
  <p>$ 699</p>
  <p>Apply your personal info for registration</p>
  <form action="">
    <input type="name" pattern="[A-Za-z ]{1,32}" placeholder="Your name" required>
    <input type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Phone number" required>
    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" required>
    <button type="submit" class="button form-button">Register</button>
  </form>
</section>