<section class="registration">
  <div class="registration__wrap">
    <h2 class="registration__title">Registration</h2>
    <p class="registration__date">May 23, 11:00 <br> New York</p>
    <p class="registration__price">$ 699</p>
    <p class="registration__cta">Apply your personal info for registration</p>
    <form class="form">
      <ul>
        <li class="form__item"><input class="form__input" type="text" pattern="[A-Za-z ]{1,32}" placeholder="Your name"
            required></li>
        <li class="form__item"><input class="form__input" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            placeholder="Phone number" required></li>
        <li class="form__item"><input class="form__input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="Email" required></li>
      </ul>
      <button type="submit" class="form__button">Register</button>
    </form>
  </div>
</section>